<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layouts/layout :: html_head" />
  <body class="bg-light">
    <header th:replace="layouts/layout :: header"></header>

    <div class="container mt-5 d-flex justify-content-center">
      <div class="w-50">
        <h1 class="text-center mb-4">Edit Client</h1>

        <div class="card p-4 shadow-sm">
          <form
            th:action="@{/clients/edit/{email}(email=${client.email})}"
            th:object="${client}"
            method="post"
          >
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name:</label>
              <input
                type="text"
                id="firstName"
                th:field="*{firstName}"
                class="form-control"
                required
              />
            </div>

            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name:</label>
              <input
                type="text"
                id="lastName"
                th:field="*{lastName}"
                class="form-control"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input
                type="email"
                id="email"
                th:field="*{email}"
                class="form-control"
                disabled
              />
            </div>

            <div class="mb-3">
              <label for="birthDate" class="form-label">Birth Date:</label>
              <input
                type="date"
                id="birthDate"
                th:field="*{birthDate}"
                class="form-control"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary w-25">
              Save Changes
            </button>
          </form>
        </div>

        <div class="text-center mt-4">
          <a href="/clients/list" class="btn btn-secondary"
            >Back to Client List</a
          >
        </div>
      </div>
    </div>

    <footer th:replace="layouts/layout :: footer"></footer>
    <script th:replace="layouts/layout :: bootstrap_script"></script>
  </body>
</html>
